.container{
  max-width: 1280px;
}

nav.bg-light {
  background-color: #efefef!important;
  background-size: cover;
}

nav img.responsive{
    width: 100%;
    max-width: 175px;
    height: auto;
}

nav .dropdown .btn-secondary.dropdown-toggle{
  margin-right: 10px;
}

nav .dropdown .btn-secondary.dropdown-toggle,
nav button.btn-secondary{
    border: none;
    background: #efefef;
    color: #777777;
}

nav .dropdown .btn-secondary.dropdown-toggle:hover,
nav button.btn-secondary:hover{
  border: none;
  background: #efefef;
  color: #777777;
}

nav .dropdown .btn-secondary.dropdown-toggle:focus,
nav button.btn-secondary:focus{
  color: #777777;
  background: none;
}

/* Main css */
.title{
  padding-top: 60px;
}

.title h1{
  font-size: 30px;
  font-weight: 400;
}
/* Footer CSS */
.footer .copyRight{
  color: #777777;
}